<button (click)="back()">Back</button>
<button (click)="submitOrder()">Submit</button>
<p>{{errorText}}</p>
<p>{{successText}}</p>
<div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
  <h2>{{book.title}}</h2>
  <br />
  {{book.isbn}}
  <br />
  {{book.author}}
  <br />
  {{book.price}}$
  <br />
  {{book.publisher}}
  <br />
  {{book.year}}
  <br />
  {{book.binding.toString()}}
  <br />
  {{book.numberOfPages}}
  <br />
  <img [src]="book.imageUrl">

  <p>
    {{customer.firstName}}
  </p>
  <p>
    {{customer.lastName}}
  </p>
  <p>
    {{customer.email}}
  </p>
</div>